<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="User ID=postgres;Password=Honto123;Host=localhost;Database=postgres;Pooling=true;"/>
    <add key="ImagesStoragePath" value="%BASEDIR%\Images\"/>
    
    <add key="serilog:using:File" value="Serilog.Sinks.File"/>
    <add key="serilog:write-to:File"/>
    <add key="serilog:write-to:File.path" value="%BASEDIR%\logs\log-{Date}.txt"/>
    <add key="serilog:write-to:File.fileSizeLimitBytes" value="1048576"/>

    <add key="serilog:using:Console" value="Serilog.Sinks.Console"/>
    <add key="serilog:write-to:Console"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
