<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RabbitMqConnectionString" value="guest:guest@localhost:5672/" />

    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File" />
    <add key="serilog:write-to:File.path" value="%BASEDIR%\logs\logs.txt" />
    <add key="serilog:write-to:File.fileSizeLimitBytes" value="1048576" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IArticlesWebService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61060/ArticlesWebService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IArticlesWebService"
                contract="ArticlesServiceReference.IArticlesWebService" name="BasicHttpBinding_IArticlesWebService" />
    </client>
  </system.serviceModel>
</configuration>